.RollDice .dices {
    width: 500px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.RollDice .shake {
    animation-name: shake;
    animation-duration: 1234ms;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-4px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(8px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-16px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(16px, 0, 0);
    }
}

.RollDice button {
    background-color: #FF7F50;
    /* background-color: #ffaf75; */
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 75px;
    outline: #ffaf75;
    border: #ffaf75;
    box-sizing: border-box;
    border: 2px solid #000;
}

.RollDice button:hover {
    background-color: #ffaf75;
    border: 2px solid #FF7F50;
    cursor: pointer;
}